@model Tarea4.Models.Estudiante
@{
    ViewBag.Title = "Resultados";
}

<h2>Resultados</h2>

<h3>@Model.Cedula</h3>
<h3>@Model.Nombre</h3>
<h3>@Model.Apellido</h3>
<h3>@Model.Edad</h3>
<h3>@Model.Telefono</h3>
<h3>@Model.Correo</h3>
<h3>@Model.Correo</h3>
<h3>@Model.Genero</h3>
<h3>@Model.Puesto</h3>

<img src="~/img/@ViewBag.pic" width="300" height="300" />
<br/>

<a href="~/pdf/@ViewBag.cv">Abrir pdf</a>
